*.png
chi_q_w*
tttchi_q_w*
npchi*
tttnpchi*
Chi_q_w*
compare*
Susceptibility-*
Susceptibility/Susceptibility.pro.user
StaggeredMagnetization-*
StaggeredMagnetization/StaggeredMagnetization.pro.user.000*
latex/Unbenanntes Dokument
latex/masterthesis.bib.backup
latex/masterthesis.bib~
latex/masterthesis.log
latex/test.cfg
latex/test.cfg~
latex/thesis0.0.aux
latex/thesis0.0.bbl
latex/thesis0.0.blg
latex/thesis0.0.log
latex/thesis0.0.out
latex/thesis0.0.pdf
latex/thesis0.0.tex.backup
latex/thesis0.0.tex~
latex/thesis0.0.toc
latex/prop*
bandstructure_t*
reading_material/
stagmagn.txt
edispersion.txt
edispersion_kort.txt
energies.txt
energiesU4.txt
energiedispersion.txt
*.swp



